@use '../base/colors' as *;

.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
  min-height: 100%;
}

.menu {
  margin: 0 10px;
}

.el-icon svg.is-active,
.el-menu-item.is-active {
  color: $accent !important;
}
